// Hide images in subscription table
.subscription-modal .subscriptionTable-image-container {
    display: none;
}

// Hide customize button in subscription table
.subscription-modal .subscriptionTable-customize-button {
    display: none;
}

// Hide first subscription table in the subscription modal
.subscription-modal.is-free-user .subscriptionCustomization-section:first-child .vpnSubscriptionTable-container,
.subscription-modal.is-free-user .subscriptionCustomization-section:first-child .mailSubscriptionTable-container {
    display: none;
}

// Adjust header height
.subscription-modal .subscriptionTable-header {
    min-height: 11rem;
}

.subscription-modal .subscriptionTable-description,
.subscription-modal .subscriptionTable-footer {
    min-height: auto;
}