// Hide images in subscription table
.subscription-modal .subscriptionTable-image-container {
    display: none;
}

// Hide customize button in subscription table
.subscription-modal .subscriptionTable-customize-button {
    display: none;
}

// Hide first subscription table in the subscription modal
.subscription-modal .subscriptionCustomization-section:first-child .vpnSubscriptionTable-container,
.subscription-modal .subscriptionCustomization-section:first-child .mailSubscriptionTable-container {
    display: none;
}