.wizard-container.import-mail-wizard-container {
	padding-top: 0;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.wizard.import-mail-wizard {
	margin-top: 0;
	background-color: red($color: #000000);

	.wizard-item {
		.wizard-item-inner {
			text-align: center;
		}

		&:first-child .wizard-item-inner {
			text-align: left;
		}
		&:last-child .wizard-item-inner {
			text-align: right;
		}

		&[aria-current='step'] {
			.wizard-item-inner {
				top: unset;
				width: 100%;
				bottom: 0;
				font-size: 1em;
				font-weight: 500;
			}
		}
	}
}
