.autocomplete input {
    display: flex;
    flex: 1 0 15%;
}

.autocomplete ul {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    z-index: 1;
    min-width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    background: lightgray;
    border: 1px solid gray;
}

.autocomplete-selectedItem {
    border: 1px solid grey;
}
