/*
 * signup specific styles
 */
@import "~design-system/_sass/reusable-components/design-system-config";

/* label size */
.signup-form {
	--label-width: 10em;
}
.payment-container {
	--label-width: #{$pm-label-width};
}

/* display for currency/plans */
.account-form-cycle-currency-selectors {
	width: calc( (100% - 3em)/4 ); // 4 plans

	@include respond-to(1100) {
		&.flex-nowrap {
			flex-wrap: wrap;
			.pm-field {
				width: 100%;
				margin-right: 0;
				margin-bottom: .25em;
			}
	   }
	}
}


// Hide icons (caret, support1) in <SupportDropdown>
.signLayout-container .support-dropdown-button svg {
    display: none;
}
